{% extends 'base.html'%}
{% load static %}

{% block head %}
{% endblock %}

{% block titulo %}
Home Page Filmes
{% endblock %}

{% block content %}
    <main class='bg-primary_black min-h-screen w-full'>
        <section class="h-screen relative bg-no-repeat pb-8 pl-6 flex items-end bg-cover" style="background-image: url('{{ filmeDestaque.thumb.url }}');">
            <div>
                <h2 class="text-6xl font-semibold text-white my-4">

                </h2>
                <p class=" w-11/12 md:w-5/12 font-medium text-white my-4">
                </p>
                <div class="flex my-4">
                    <a href="{% url 'filme:detalhesfilmes' filmeDestaque.id %}">
                        <button class="flex items-center bg-white py-2 px-5 rounded-md" style='color:black;'>
                            <ion-icon name="play" class="text-2xl"></ion-icon>
                            <span class="ml-3 font-medium " >
                                Play
                            </span>
                        </button>
                    </a>
                </div>
            </div>
        </section>

        <section class='bg-primary_black flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Novo
                </h2>
                <div class="wrapper">
                  <section id="section1N" class="flex flex-nowrap items-center justify-center space-x-8">
                    <a href="#section2N" class="arrow__btn text-6xl page">‹</a>
                      {% for filme in listaRecentes %}
                          {% if forloop.counter < 5 %}
                          <div class="item h-64 w-1/4 m-4">
                              <a href="{% url 'filme:detalhesfilmes' filme.id %}">
                                <img src="{{ filme.thumb.url }}" class="rounded-md w-full h-full object-cover">
                              </a>
                          </div>
                          {% endif %}
                      {% endfor %}
                        <a href="#section2N" class="arrow__btn text-6xl">›</a>
                  </section>
                    {% if listaRecentes|length > 4 %}
                      <section id="section2N" class="flex flex-nowrap items-center justify-center">
                         <a href="#section1N" class="arrow__btn text-6xl">‹</a>
                         {% for filme in listaRecentes %}
                            {% if forloop.counter > 4 %}
                              <div class="item h-64 w-1/4 m-4">
                                  <a href="{% url 'filme:detalhesfilmes' filme.id %}">
                                    <img src="{{ filme.thumb.url }}" class="rounded-md w-full h-full object-cover">
                                  </a>
                              </div>
                            {% endif %}
                          {% endfor %}
                        <a href="#section1N" class="arrow__btn text-6xl">›</a>
                      </section>
                    {% endif %}
                </div>
            </div>
        </section>

       <section class='bg-primary_black flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Popular
                </h2>
                <div class="wrapper">
                  <section id="section1P" class="flex flex-nowrap items-center justify-center space-x-8">
                    <a href="#section2P" class="arrow__btn text-6xl page">‹</a>
                      {% for filme in listaPopular %}
                          {% if forloop.counter < 5 %}
                          <div class="item h-64 w-1/4 m-4">
                              <a href="{% url 'filme:detalhesfilmes' filme.id %}">
                                <img src="{{ filme.thumb.url }}" class="rounded-md w-full h-full object-cover">
                              </a>
                          </div>
                          {% endif %}
                      {% endfor %}
                        <a href="#section2P" class="arrow__btn text-6xl">›</a>
                  </section>
                    {% if listaPopular|length > 4 %}
                      <section id="section2P" class="flex flex-nowrap items-center justify-center">
                         <a href="#section1P" class="arrow__btn text-6xl">‹</a>
                         {% for filme in listaPopular %}
                            {% if forloop.counter > 4 %}
                              <div class="item h-64 w-1/4 m-4">
                                  <a href="{% url 'filme:detalhesfilmes' filme.id %}">
                                    <img src="{{ filme.thumb.url }}" class="rounded-md w-full h-full object-cover">
                                  </a>
                              </div>
                            {% endif %}
                          {% endfor %}
                        <a href="#section1P" class="arrow__btn text-6xl">›</a>
                      </section>
                    {% endif %}
                </div>
            </div>
        </section>

        <section class='bg-primary_black flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Continuar Assistindo
                </h2>
                <div class="wrapper">
                  <section id="section1V" class="flex flex-nowrap items-center justify-center space-x-8">
                    <a href="#section2V" class="arrow__btn text-6xl page">‹</a>
                      {% for filme in request.user.filmesVisto.all %}
                          {% if forloop.counter < 5 %}
                          <div class="item h-64 w-1/4 m-4">
                              <a href="{% url 'filme:detalhesfilmes' filme.id %}">
                                <img src="{{ filme.thumb.url }}" class="rounded-md w-full h-full object-cover">
                              </a>
                          </div>
                          {% endif %}
                      {% endfor %}
                        <a href="#section2V" class="arrow__btn text-6xl">›</a>
                  </section>
                    {% if request.user.filmesVisto.all|length > 4 %}
                      <section id="section2V" class="flex flex-nowrap items-center justify-center">
                         <a href="#section1V" class="arrow__btn text-6xl">‹</a>
                         {% for filme in request.user.filmesVisto.all %}
                            {% if forloop.counter > 4 %}
                              <div class="item h-64 w-1/4 m-4">
                                  <a href="{% url 'filme:detalhesfilmes' filme.id %}">
                                    <img src="{{ filme.thumb.url }}" class="rounded-md w-full h-full object-cover">
                                  </a>
                              </div>
                            {% endif %}
                          {% endfor %}
                        <a href="#section1V" class="arrow__btn text-6xl">›</a>
                      </section>
                    {% endif %}
                </div>
            </div>
        </section>

    </main>

{% endblock %}